if returnHTML
    div.about
        h3 How this works:
        p 
            b Get bus ETAs:
            br
            | Enter a bus stop number into the field above to see when the next bus arrives. 
        p 
            b Don't know the bus stop number? 
            br
            | Enter the closest street address or cross streets and get up to 5 closest stops within a mile. Then enter the bus stop number.
        p   Also! You can text a bus stop number or intersection to <br /><b><a href="sms:907-312-2060">907-312-2060</a></b> 

else
    |Get bus ETAs, text the busstop # (you can skip leading zeroes). Don't know the busstop #, text closest street address or cross streets and get up to 5 closest stops within a mile, text back desired 4 digit bustop number. Text 'Feedback: ..' to send feedback. Made by Code for Anchorage. Have a smartphone: http://bus.codeforanchorage.org
