if returnHTML
    div.about
        p Get bus ETAs, text the busstop number (you can skip leading zeroes). 
        p Don't know the bus stop number? 
        | Text closest street address or cross streets and get up to 5 closest stops within a mile. Text back desired 4 digit bustop number. 
        p Text 'Feedback: ..' to send feedback. Made by Code for Anchorage. 
        p Have a smartphone: 
            a(href='http://bus.codeforanchorage.org') http://bus.codeforanchorage.org
else
    |Get bus ETAs, text the busstop # (you can skip leading zeroes). Don't know the busstop #, text closest street address or cross streets and get up to 5 closest stops within a mile, text back desired 4 digit bustop number. Text 'Feedback: ..' to send feedback. Made by Code for Anchorage. Have a smartphone: http://bus.codeforanchorage.org
