div    
    if !data
        p The Electric Bus is not on the road right now, check back later!
    else
        p The Electric Bus is on route #{data.routeid} and last stopped at #{data.laststop}

    br
    a(href='http://www.muni.org/Departments/transit/PeopleMover/Pages/electricbus.aspx') Learn more about the Electric Bus in Anchorage
