doctype html
html
    head
        title= title
        style.
            body {
              font-family: sans-serif;
              text-align: center;
            }
            #output {
              padding-top: 20px;
            }
            button {
                margin: 20px auto;
            }
        meta(name='MobileOptimized', content='320')
        meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
        meta(name='apple-mobile-web-app-capable' content='yes')


    body
        form(method="POST", onsubmit="return postIt()")
            h1 When's the next bus?
            p Enter a bus stop number, address or intersection to see when the next bus arrives
            input(name="Body")
            input(type="submit")

        button(id="button" onclick="locateMe()" style="display:none") Find Stop Nearest to Me
        p Also! You can text a stop number or intersection to 907-312-2060
        p(id="output")

        a(onclick="return feedback()" href="#" id="feedback_link") give feedback
        form(method="POST" action="/feedback" style="display:none" id="feedback")
            textarea(name="comment" style="width:300px; height:50px;")
            br
            input(type="submit")



    script.
        var interval = null;
        var outputDiv = document.getElementById('output');

        function showLoading() {
            var elements = ['&bull;', '&nbsp;', '&nbsp;', '&nbsp;']
            interval = window.setInterval(
                function() {
                    var output = elements.join('');
                    outputDiv.innerHTML = output;
                    elements.unshift(elements.pop());
                },
                300
            );
        }

        function feedback() {
            document.getElementById('feedback').style.display='block';
            document.getElementById('feedback_link').style.display='none';
            return false;
        }


        function removeLoading() {
            window.clearInterval(interval);
            outputDiv.innerHTML = '';
        }


        function updateOutputDiv() {
            removeLoading();

            if(this.readyState == 4 && this.status == 200) {
                var output = this.responseText;
                output = output.replace(/\n/g, '<br>');
                outputDiv.innerHTML = output;
            }
        }


        function postIt(){
            showLoading();

            var http = new XMLHttpRequest();
            http.open("POST", "/", true);
            var payload = {Body: document.getElementsByName('Body')[0].value};
            payload = JSON.stringify(payload);

            //Send the proper header information along with the request
            http.setRequestHeader("Content-type", "application/json");

            http.onreadystatechange = updateOutputDiv.bind(http);
            http.send(payload);

            return false;
        }


        function showPosition(position) {
            var http = new XMLHttpRequest();
            var url = '/byLatLon?lat=';
            url += position.coords.latitude + '&lon=' + position.coords.longitude;
            http.open('GET', url, true);

            http.onreadystatechange = updateOutputDiv.bind(http);
            http.send();
        }


        // if the browser is capable, get the nearest stop by geolocation
        function locateMe() {
            showLoading();

            navigator.geolocation.getCurrentPosition(
                showPosition,
                removeLoading,
                {
                    enableHighAccuracy: true,
                    timeout: 10000,
                    maximumAge: 60000,
                }
            );
        }

        if (navigator.geolocation) {
            document.getElementById('button').style.display = 'block';
        }
