doctype html
html
    head
        title= title
        style.
            body {
                font-family: sans-serif;
                text-align: center;
            }
            #output {
                padding-top: 20px;
            }
            button {
                margin: 20px auto;
            }
            .logo-tag {
                font-size: 10pt;
                vertical-align: middle;
            }
            .logo {
                width: 40px;
                height: 40px;
                vertical-align: middle;
            }

        meta(name='MobileOptimized', content='320')
        meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
        meta(name='apple-mobile-web-app-capable' content='yes')


    body
        form(method="POST", onsubmit="return postIt()")
            h1 When's the next bus?
            p Enter a bus stop number, address or intersection to see when the next bus arrives
            input(name="Body")
            input(type="submit")

        button(id="button" onclick="locateMe()" style="display:none") Find Stop Nearest to Me
        p Also! You can text a stop number or intersection to <a href="sms:907-312-2060">907-312-2060</a>
        p(id="output")

        a(onclick="return feedback()" href="#" id="feedback_link") Give feedback - with e-mail for response
        form(method="POST" action="/feedback" style="display:none" id="feedback")
            textarea(name="comment" style="width:300px; height:50px;")
            br
            label(for='email') Email (optional)
            input(type='text', id='email', name='email')
            br
            input(type="submit", value="Send Feedback")

    p
        div
            a(href="http://codeforanchorage.org")
                img.logo(src="img/cfa.png")
            span.logo-tag &nbsp; Code For Anchorage


    script.
        var interval = null;
        var outputDiv = document.getElementById('output');

        function showLoading() {
            var elements = ['&bull;', '&nbsp;', '&nbsp;', '&nbsp;']
            interval = window.setInterval(
                    function() {
                        var output = elements.join('');
                        outputDiv.innerHTML = output;
                        elements.unshift(elements.pop());
                    },
                    300
            );
        }

        function feedback() {
            document.getElementById('feedback').style.display='block';
            document.getElementById('feedback_link').style.display='none';
            return false;
        }


        function removeLoading() {
            window.clearInterval(interval);
            outputDiv.innerHTML = '';
        }


        function updateOutputDiv() {
            removeLoading();

            if(this.readyState == 4) {
                var output = 'Sorry, there was an error';
                if(this.status == 200) output = this.responseText;
                output = output.replace(/\n/g, '<br>');
                outputDiv.innerHTML = output;
            }
        }


        function postIt(){
            showLoading();

            var http = new XMLHttpRequest();
            http.open("POST", "/ajax", true);
            var payload = {Body: document.getElementsByName('Body')[0].value};
            payload = JSON.stringify(payload);

            //Send the proper header information along with the request
            http.setRequestHeader("Content-type", "application/json");

            http.onreadystatechange = updateOutputDiv.bind(http);
            http.send(payload);

            return false;
        }


        function showPosition(position) {
            var http = new XMLHttpRequest();
            var url = '/byLatLon?lat=';
            url += position.coords.latitude + '&lon=' + position.coords.longitude;
            http.open('GET', url, true);

            http.onreadystatechange = updateOutputDiv.bind(http);
            http.send();
        }


        // if the browser is capable, get the nearest stop by geolocation
        function locateMe() {
            showLoading();

            navigator.geolocation.getCurrentPosition(
                    showPosition,
                    removeLoading,
                    {
                        enableHighAccuracy: true,
                        timeout: 10000,
                        maximumAge: 60000,
                    }
            );
        }

        if (navigator.geolocation) {
            document.getElementById('button').style.display = 'block';
        }
