extends layout

block content
  form(method="POST")
    p Get current bus times!
    label(for="stopNumber") Enter a bus stop number: 
    input(name="stopNumber")
    br
    label(for="intersection") OR Enter an intersection: 
    input(name="intersection")
    br
    input(type="submit")
