doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, minimum-scale=1')
  body
    block content
