doctype html
html
    head
        title= title
        style.
            body {
                font-family: sans-serif;
                text-align: center;
            }
            #plot {
                width:600px;
                height:400px;
                margin-left: auto;
                margin-right: auto;
            }
            button {
                margin: 20px auto;
            }
            .logo-tag {
                font-size: 10pt;
                vertical-align: middle;
            }
            .logo {
                width: 40px;
                height: 40px;
                vertical-align: middle;
            }

        meta(name='MobileOptimized', content='320')
        meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
        meta(name='apple-mobile-web-app-capable' content='yes')


    body
        h1 Logs
        button(id="btnHitsHour") Hits by Hour
        button(id="btnHitsDay") Hits by Day

        p

        div(id="plot")

        p

        a(href="http://codeforanchorage.org")
            img.logo(src="img/cfa.png")
        span.logo-tag &nbsp; Code For Anchorage

    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/jquery.flot.min.js")
    script(src="/javascripts/jquery.flot.time.min.js")
    script.

        $(function() {


            var data = [];

            $("[id^='btnHits']").click(function() {

                var button = $(this);

                var options = {
                    line: {
                        show: true
                    },
                    points: {
                        show: true
                    },
                    series: {
                        lines: { show: true }
                    },
                    xaxis: {
                        mode: "time",
                        minTickSize: [1, "hour"],
                        timeformat: "%m/%d %H:%M"
                    }
                }

                var bucketWidth = 60 * 60;   // Hours by default
                if ($(button).attr("id").toLowerCase().indexOf("day") > -1) {
                    bucketWidth = 24 * 60 * 60;
                    options.xaxis.minTickSize = [1, "day"];
                    options.xaxis.timeformat = "%m/%d"
                }

                $.ajax({
                    url: "/logdata?type=hits",
                    type: "GET",
                    dataType: "json",
                    success: function(data) {
                        var sumData = [];
                        data.forEach(function(point) {
                            var series = "";
                            if (!sumData.some(function(el, idx) {
                                        if (el.label === point.type) {
                                            series = idx;
                                            return true;
                                        }
                                    })) {
                                sumData.push({label: point.type, data: []});
                                series = sumData.length - 1;
                            }
                            var bucket = Math.floor(parseInt(point.date) / bucketWidth) * bucketWidth;
                            if (!sumData[series].data.some(function(bucketPair) {
                                if (bucketPair[0] == bucket * 1000) {
                                    bucketPair[1]++;
                                    return true;
                                }
                            })) {
                                sumData[series].data.push([bucket * 1000, 1])
                            }
                        });
                        $.plot("#plot", sumData, options)
                    }
                })
            })

            $("#btnHitsHour").click();
        })

