if returnHTML
    div 
        if message.name
            b #{message.name}
            br 
        | #{message.message}
        p <a href="/">About this service</a>
else
    if message.name
        |#{message.name}. 
    | !{message.message}  