body {
    margin: 20px;
    font-family: 'PT Sans', 'Arial Narrow', sans-serif;
}
/* Primaryily to force Firefox to inheret font in text area and input */
* { 
  font-family: inherit;
  margin:0;
}
p {margin-top: 1em;}

a {
    color: #3d457b;
}
a:visited{
    color: #3d457b;
}
[onclick] {
    color: #3d457b;
    cursor: pointer;
}
[onclick]:hover{
    color:unset;
 }

body > div{
    margin:auto;
    width:95%;
    max-width: 500px;
    font-size: 6vw;
}

h1 {
    font-size: 15vw;
    text-transform: uppercase;
    line-height: 85%;
    margin-bottom: .35em;
    width: 100%;
    margin-top:10px;
}

h1:first-line{
    font-size: 88%;
}

h3 {
    font-size: 1.25em;
    margin-bottom:0;
}

input, textarea{
    border: solid 5px #d4d31e;
    transition: border 0.3s;
    font-size: .85em;
    box-sizing: border-box;
    padding-left: .5em;
    width:100%;
    margin-bottom: .35em;
 }

input {
    height:3em;
}

button {
    width:100%;
    background-color: #666;
    border:none;
    box-sizing: border-box;
    border: solid 1px #dbdc1e;
    color:#fff !important;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    font-size: .85em;
    transition: background-color 0.3s;
    border-radius: 5px;
 }

ul{
    font-size: 1em;
    padding: 0px;
    list-style-type: none;
 }

li{
    display:flex;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border-bottom: 1px solid #ddd;
 }

li div {
  flex: 3;
}

li div:first-of-type {
    font-weight: 700;
    flex-shrink: 0;
    text-align: right;
    flex:1;
    padding-right: 20px;
}


form input:focus ~ button,
textarea:focus ~ button {
    background-color: #d4d31e;
 }
 :-ms-input-placeholder{
    color:#b6b6b6;
    text-transform: uppercase;  
 }
::-webkit-input-placeholder{
    color:#b6b6b6;
    text-transform: uppercase;
}
::-moz-placeholder
{
    color:#b6b6b6;
    text-transform: uppercase;
}
textarea:focus, input:focus {
    border: solid 5px #969696;
    outline:none;
}

#output{
    margin-top:1em;
    margin-bottom:1.2em;
}

#stop{
   font-size: 1.2em;
   display:flex;
   line-height: 100%;
   padding-top: .5em;
   padding-bottom: .5em;
   border-top: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
}

#stop-name {
   flex: 3;
   margin-left:15px;
   font-size: 1em;
   padding-top: .5em;
   padding-bottom: .5em;
}

#stop-number {
   flex:1;
   text-transform: uppercase;
   text-align: right;
   padding-right: 5%;
   border-right:3px solid #333;
   font-size: 1em;
   padding-top: .5em;
}

#stop-list{
    margin-top:15px;
    font-size: .9em;
 }

#info{
    margin-top:1em;
    border-top: 1px solid #ddd
 }

#footer{
    margin-top:20px;
    padding: 10px 0 10px 0;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
    display:flex;
    font-size: .9em;
 }
#footer div {
    padding-top:15px;
}

#footer div:first-child {
    margin-right: 20px; 
    border-right: 1px solid #666;
    padding-right:20px;
    padding-top:10px;
}

#feedback textarea{
    height:6em;
}
#feedback button[type="submit"]{
    width:65%;
    margin-right: 3%;
}
#feedback button[type="reset"] {
    width:32%;
}
.not_https #location {
    display:none;
}
#location {
    padding: 0px 4px;
    background-color: #d4d31e;
    color: #fff;
    border-radius: 5px;
    border: 3px solid #d4d31e;

}
#location:hover {
    background-color: #fff;
}
#location:hover a {
    color:#d4d31e;
}
 #location a {
    display: flex;
    align-items: center;
    color:#fff;
 }
#location:hover span.pointer {
   border-right: 3px solid #d4d31e;
}
span.pointer {
    padding-right: 15px;
    font-size: 1.25em;
    border-right: 3px solid white
}
span.location{padding-left:15px; }

@media screen and (min-width: 500px) {
    body > div {
        font-size: 1.5em;
    }
    li div{
        flex:6;
    }
    #stop-name{
        flex:6;
    }
}